body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: grid;
  grid-template-rows: 60px 1000px 600px 1000px 250px;
  grid-template-areas: 
      "header"
      "sidebar"
      "aside1"
      "main"
      "footer";
  height: 100vh;
}

@media (min-width: 768px) {
  .layout {
      grid-template-rows: 60px 1000px 600px 1000px  250px;
      grid-template-columns: 160px auto;
      grid-template-areas: 
          "header header"
          "sidebar sidebar"
          "aside1 aside1"
          "main main"
          "footer footer";
  }
}

header {
  grid-area: header;
  background-color: red;
}

footer {
  grid-area: footer;
  background-color: coral;
}

.carousel-container {
  grid-area: sidebar;
  background-image: url(./multimedia/slider1.jpg);
  max-width: 100vw;
  max-height: px;
  overflow: hidden;
  position: relative;
}

.aside1 {
  grid-area: aside1;
  background-color: yellow;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  grid-area: main;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  z-index: 99;   
  height: 20px;
}

.animated-text {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
  border-right: 0.1em solid orange;
  animation: typing 3s steps(22, end), blink-caret 0.75s infinite;
}

.slash {
  color: orange;
}

.center-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel ul {
  display: flex;
  padding: 0;
  margin: auto;
}

.carousel li {
  list-style: none;
  width: 100%;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tarjetas */

.project-info {
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -50px;
}

.project-title {
  font-weight: 500;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.lighter {
  font-size: 0.9em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-weight: lighter;
  color: grey;
}

.card {
  background-color: white;
  margin: 20px;
  color: black;
  width: 300px;
  max-height: 330px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img {
  position: relative;
  top: -20px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.card-imgs {
  height: 150px;
  width: 90%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s;
}

/* .delete class should be removed or used for actual purpose */
.delete {
  background-color: #b2b2fd;
}
